* {
  box-sizing: border-box;

  font-family:
    "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
