name: CI
on:
  push:
    branches:
      - renovate/*
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Run ESLint
        run: pnpm eslint ./src --max-warnings 0

      - name: Run Prettier
        run: pnpm prettier --check .

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Build
        run: pnpm run build

      - name: Upload Build
        uses: actions/upload-artifact@v6
        with:
          name: Build
          path: ./out
          retention-days: 1
          if-no-files-found: error

      - name: Upload GitHub Pages Build
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./out

  test:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Run Unit Tests
        run: pnpm run test:ci

      - name: Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: coverage

  licence:
    name: Check licences

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Check Licenses
        run: pnpm license-cop

  e2e:
    needs:
      - build

    strategy:
      fail-fast: false
      matrix:
        browser:
          - name: Chrome
            value: chrome
          - name: Firefox
            value: firefox

    name: E2E test (${{ matrix.browser.name }})

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Install Cypress
        run: pnpm exec cypress install

      - name: Download Build
        uses: actions/download-artifact@v8
        with:
          name: Build
          path: ./out

      - name: Run E2E tests
        uses: cypress-io/github-action@v6
        with:
          start: pnpm http-server ./out -p 3000
          browser: ${{ matrix.browser.value }}
          wait-on: http://localhost:3000

      - name: Upload E2E screenshots
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Screenshots
          path: e2e/screenshots/
          if-no-files-found: ignore
          retention-days: 1

      - name: Upload E2E videos
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Videos
          path: e2e/videos/
          if-no-files-found: ignore
          retention-days: 1
